:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  min-height: 100vh;
  max-width: 48rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #fff;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form {
  display: flex;
  gap: 1rem;
}

.form input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font: inherit;
}

.form .btn {
  display: inline-block;
  padding: 0.5em 1.25em;
  font-size: 1rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
